html, 
body, 
#map{
	height: 100%;
	margin: 0; 
	font-family: "Helvetica", "Verdana", sans-serif;
}

h2{
	cursor: pointer;
	background: #000055;
	padding: 5px 10px;
	width: 100%;
	font-weight: bold;
	color: #fff;
	margin: 0;
	font-size: 16px;
}

.info-content img{
	padding-top: 10px;
}

.info-content{
	margin: 10px;
	height:100%;
}

input.search{
	position: fixed;
	top: 20px;
	left: 90px;
	font-size: 14px;
}

.info-shell{
	overflow-y: scroll;
}

#points{
	position: fixed;
	right: 0;
	background: #fff;
	background-color: rgba(255,255,255,0.8);
	overflow-y: scroll;	
}